*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    background-color: rgb(236, 136, 236);
    padding: 34px;
    margin: auto;
}
.container h3,p {
    text-align: center;
}
p{
    font-size: 16px;
}
input,textarea{
    border: 2px solid black;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 16px;
    border-radius: 6px;
    outline: none;
}
form{
    /* display: block; */
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
